# WEB SCRAPING ASSIGNMENT 1

In [1]:
# Importing Libraries
import pandas as pd
from bs4 import BeautifulSoup
import requests
import selenium
from selenium import webdriver
import time

#### Q1. Write a python program to display all the header tags from ‘en.wikipedia.org/wiki/Main_Page’.

In [2]:
# Function Definition
def header_tags(url):
    a = requests.get(url)
    src = a.content
    soup = BeautifulSoup(src,'html.parser')
    return soup.find_all(["h1","h2","h3","h4","h5"])

# Calling Function
header_tags('https://en.wikipedia.org/wiki/Main_Page')

[<h1 class="firstHeading" id="firstHeading">Main Page</h1>,
 <h2 class="mp-h2" id="mp-tfa-h2"><span id="From_today.27s_featured_article"></span><span class="mw-headline" id="From_today's_featured_article">From today's featured article</span></h2>,
 <h2 class="mp-h2" id="mp-dyk-h2"><span class="mw-headline" id="Did_you_know_...">Did you know ...</span></h2>,
 <h2 class="mp-h2" id="mp-itn-h2"><span class="mw-headline" id="In_the_news">In the news</span></h2>,
 <h2 class="mp-h2" id="mp-otd-h2"><span class="mw-headline" id="On_this_day">On this day</span></h2>,
 <h2 class="mp-h2" id="mp-tfp-h2"><span id="Today.27s_featured_picture"></span><span class="mw-headline" id="Today's_featured_picture">Today's featured picture</span></h2>,
 <h2 class="mp-h2" id="mp-other"><span class="mw-headline" id="Other_areas_of_Wikipedia">Other areas of Wikipedia</span></h2>,
 <h2 class="mp-h2" id="mp-sister"><span id="Wikipedia.27s_sister_projects"></span><span class="mw-headline" id="Wikipedia's_sister_projects">Wikipedia's sister projects</span></h2>,
 <h2 class="mp-h2" id="mp-lang"><span class="mw-headline" id="Wikipedia_languages">Wikipedia languages</span></h2>,
 <h2>Navigation menu</h2>,
 <h3 class="vector-menu-heading" id="p-personal-label">
 <span>Personal tools</span>
 </h3>,
 <h3 class="vector-menu-heading" id="p-namespaces-label">
 <span>Namespaces</span>
 </h3>,
 <h3 class="vector-menu-heading" id="p-variants-label">
 <span>Variants</span>
 </h3>,
 <h3 class="vector-menu-heading" id="p-views-label">
 <span>Views</span>
 </h3>,
 <h3 class="vector-menu-heading" id="p-cactions-label">
 <span>More</span>
 </h3>,
 <h3>
 <label for="searchInput">Search</label>
 </h3>,
 <h3 class="vector-menu-heading" id="p-navigation-label">
 <span>Navigation</span>
 </h3>,
 <h3 class="vector-menu-heading" id="p-interaction-label">
 <span>Contribute</span>
 </h3>,
 <h3 class="vector-menu-heading" id="p-tb-label">
 <span>Tools</span>
 </h3>,
 <h3 class="vector-menu-heading" id="p-coll-print_export-label">
 <span>Print/export</span>
 </h3>,
 <h3 class="vector-menu-heading" id="p-wikibase-otherprojects-label">
 <span>In other projects</span>
 </h3>,
 <h3 class="vector-menu-heading" id="p-lang-label">
 <span>Languages</span>
 </h3>]

#### Q2. Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. Name, IMDB rating, Year of release) and save it in form of a CSV file.

In [3]:
# Function Definition
def IMDB_top_100(url):
    r=requests.get(url)
    soup=BeautifulSoup(r.content,'html.parser')
    name=[]
    year=[]
    rating=[]
    for i in soup.find_all('img'):
        name.append(i.attrs['alt'])
    for i in list(soup.find_all('span',attrs={"secondaryInfo"})):
        year.append(i.text)
    for i in soup.find_all('strong'):
        rating.append(float(i.text))
    df=pd.DataFrame({'names':name[:100],
                     'years':year[:100],
                     'ratings':rating[:100]})
    print(df)
    df.to_csv('IMDB_top_100.csv', index = False)

# Calling Function
IMDB_top_100("https://www.imdb.com/chart/top/")

                                    names   years  ratings
0                The Shawshank Redemption  (1994)      9.2
1                           The Godfather  (1972)      9.1
2                  The Godfather: Part II  (1974)      9.0
3                         The Dark Knight  (2008)      9.0
4                            12 Angry Men  (1957)      8.9
..                                    ...     ...      ...
95                           Idi i smotri  (1985)      8.3
96                    Requiem for a Dream  (2000)      8.3
97                    Singin' in the Rain  (1952)      8.3
98                     North by Northwest  (1959)      8.3
99  Eternal Sunshine of the Spotless Mind  (2004)      8.3

[100 rows x 3 columns]

#### Q3. Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. Name, IMDB rating, Year of release) and save it in form of a CSV file.

In [4]:
# Function Definition
def Indian_IMDB_top_100(url):
    r=requests.get(url)
    soup=BeautifulSoup(r.content,'html.parser')
    name=[]
    year=[]
    rating=[]
    for i in soup.find_all('img'):
        name.append(i.attrs['alt'])
    for i in list(soup.find_all('span',attrs={"secondaryInfo"})):
        year.append(i.text)
    for i in soup.find_all('strong'):
        rating.append(float(i.text))
    df=pd.DataFrame({'names':name[:100],
                     'years':year[:100],
                     'ratings':rating[:100]})
    print(df)
    df.to_csv('indian_IMDB_top_100.csv', index = False)

# Calling Function
Indian_IMDB_top_100("https://www.imdb.com/india/top-rated-indian-movies/")

                                names   years  ratings
0                             Nayakan  (1987)      8.5
1                   Pariyerum Perumal  (2018)      8.5
2                          Anbe Sivam  (2003)      8.5
3                   C/o Kancharapalem  (2018)      8.5
4                             Golmaal  (1979)      8.5
..                                ...     ...      ...
95                    Andaz Apna Apna  (1994)      8.1
96  Lagaan: Once Upon a Time in India  (2001)      8.1
97                            Kahaani  (2012)      8.1
98           Uri: The Surgical Strike  (2018)      8.1
99                                 PK  (2014)      8.1

[100 rows x 3 columns]

#### Q4. Write a python program to scrap book name, author name, genre and book review of any 5 books from ‘www.bookpage.com’.

In [5]:
# Function Definition
def bookpage():
    response = requests.get('https://bookpage.com/reviews/')
    soup = BeautifulSoup(response.content, 'html.parser')
    url_tags = soup.find_all('div', attrs = {'class': 'row-fluid article-row'})
    urls = [i.find('h4').find_all('a')[0]['href'] for i in url_tags[0:5]]
    book_dict = {}
    book_dict["Book Name"] = []
    book_dict["Author"] = []
    book_dict["Genre"] = []
    book_dict["Review"] = []
    for url in urls:
        book = requests.get('https://www.bookpage.com'+url)
        soup = BeautifulSoup(book.content, 'html.parser')
        book_dict["Book Name"].append(soup.find('h1').text.replace('\n',''))
        book_dict["Author"].append(soup.find('h4').text.replace('\n',''))
        book_dict["Genre"].append(soup.find('p', attrs = {'class':'genre-links'}).text.replace('\n',''))
        book_dict["Review"].append(soup.find('div', attrs = {'class':'article-body'}).text.replace('\n',''))
    book_df = pd.DataFrame.from_dict(book_dict)
    book_df.to_csv('Book Reviews.csv', index = False)
    return book_df

# Calling Function
bookpage()

,Book Name,Author,Genre,Review
0,Being Clem,Lesa Cline-Ransome,Children's / Middle Grade,On the very first page of Lesa Cline-Ransome’s...
1,★ How to Find Your Way in the Dark,Derek B. Miller,Fiction / Coming of Age,Prepare for surprises galore in How to Find Yo...
2,Hold Fast Through the Fire,K.B. Wagers,Science Fiction & Fantasy / Science Fiction,"Looking for a quick bit of adrenaline, a spot ..."
3,A Good Day for Chardonnay,Darynda Jones,Mystery & Suspense / Mystery,Readers who enjoy murder mysteries with lots o...
4,All’s Well,Mona Awad,Fiction / Literary Fiction,"Miranda Fitch, the protagonist of Mona Awad’s ..."

#### Q5. Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape:
i) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.                                 
ii) Top 10 ODI Batsmen in men along with the records of their team and rating.                                             
iii) Top 10 ODI bowlers along with the records of their team and rating.

### Solution:
i) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [6]:
# Function Definition
def Top_10_ODI_team(url):
    r=requests.get(url)
    soup=BeautifulSoup(r.content,'html.parser')
    team=[]
    match=[]
    rating=[]
    for i in soup.find_all('span',attrs={'u-hide-phablet'}):
        team.append(i.text)
    match.append(soup.find('td',attrs={'rankings-block__banner--matches'}).text)
    rating.append(soup.find('td',attrs={'rankings-block__banner--points'}).text)
    count=0
    for i in list(soup.find_all('td',attrs={'table-body__cell u-center-text'}))[:18]:
        if count%2==0:
            match.append(i.text)
        else:
            rating.append(i.text)
        count+=1
    df=pd.DataFrame({'Team':team[:10],
                     'Match':match,
                     'Points':rating})
    df.to_csv('top_10_odi_teams_men.csv', index = False)
    print(df)

# Calling Function
Top_10_ODI_team('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')

           Team Match Points
0   New Zealand    17  2,054
1       England    32  3,793
2     Australia    27  3,109
3         India    32  3,624
4  South Africa    22  2,267
5      Pakistan    27  2,524
6    Bangladesh    29  2,639
7   West Indies    29  2,458
8     Sri Lanka    29  2,303
9   Afghanistan    17  1,054

ii) Top 10 ODI Batsmen in men along with the records of their team and rating.

In [7]:
# Function Definition
def Top_10_ODI_batsman(url):
    r=requests.get(url)
    soup=BeautifulSoup(r.content,'html.parser')
    name=[]
    team=[]
    point=[]
    name.append(soup.find('div',attrs={"rankings-block__banner--name-large"}).text)
    for i in list(soup.find_all('td',attrs={'table-body__cell rankings-table__name name'}))[:9]:
        name.append(i.text.replace('\n',''))
    team.append(soup.find('div',attrs={"rankings-block__banner--nationality"}).text)
    for i in list(soup.find_all('td',attrs={'table-body__cell nationality-logo rankings-table__team'}))[:9]:
        team.append(i.text.replace('\n',''))
    point.append(soup.find('div',attrs={"rankings-block__banner--rating"}).text)
    for i in list(soup.find_all('td',attrs={'table-body__cell rating'}))[:9]:
        point.append(i.text)
    df=pd.DataFrame({'Name': name,
                     'Team':team,
                     'points':point})
    df.to_csv('top_10_odi_batsman.csv', index = False)
    print(df)

# Calling Function
Top_10_ODI_batsman("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting")

              Name       Team points
0       Babar Azam  \n\nPAK\n    873
1      Virat Kohli        IND    844
2     Rohit Sharma        IND    813
3      Ross Taylor         NZ    801
4      Aaron Finch        AUS    779
5   Jonny Bairstow        ENG    775
6     David Warner        AUS    762
7  Quinton de Kock         SA    758
8        Shai Hope         WI    758
9  Kane Williamson         NZ    754

iii) Top 10 ODI bowlers along with the records of their team and rating.

In [8]:
def Top_10_ODI_bowler(url):
    r=requests.get(url)
    soup=BeautifulSoup(r.content,'html.parser')
    name=[]
    team=[]
    point=[]
    name.append(soup.find('div',attrs={"rankings-block__banner--name-large"}).text)
    for i in list(soup.find_all('td',attrs={'table-body__cell rankings-table__name name'}))[:9]:
        name.append(i.text.replace('\n',''))
    team.append(soup.find('div',attrs={"rankings-block__banner--nationality"}).text)
    for i in list(soup.find_all('td',attrs={'table-body__cell nationality-logo rankings-table__team'}))[:9]:
        team.append(i.text.replace('\n',''))
    point.append(soup.find('div',attrs={"rankings-block__banner--rating"}).text)
    for i in list(soup.find_all('td',attrs={'table-body__cell rating'}))[:9]:
        point.append(i.text)
    df=pd.DataFrame({'Name': name,
                     'Team':team,
                     'points':point})
    df.to_csv('top_10_odi_bowler.csv', index = False)
    print(df)

# Calling Function
Top_10_ODI_bowler("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling")

               Name      Team points
0       Trent Boult  \n\nNZ\n    737
1    Josh Hazlewood       AUS    709
2  Mujeeb Ur Rahman       AFG    708
3      Chris Woakes       ENG    700
4      Mehedi Hasan       BAN    692
5        Matt Henry        NZ    691
6    Jasprit Bumrah       IND    679
7    Mitchell Starc       AUS    652
8   Shakib Al Hasan       BAN    650
9     Kagiso Rabada        SA    648

#### Q6. Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape:
i) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.                                  
ii) Top 10 women’s ODI players along with the records of their team and rating.                                                
iii) Top 10 women’s ODI all-rounder along with the records of their team and rating. 

#### Solutions:
i) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [9]:
# Function Definition
def Top_10_Women_ODI_team(url):
    r=requests.get(url)
    soup=BeautifulSoup(r.content,'html.parser')
    team=[]
    match=[]
    rating=[]
    for i in soup.find_all('span',attrs={'u-hide-phablet'}):
        team.append(i.text)
    match.append(soup.find('td',attrs={'rankings-block__banner--matches'}).text)
    rating.append(soup.find('td',attrs={'rankings-block__banner--points'}).text)
    count=0
    for i in list(soup.find_all('td',attrs={'table-body__cell u-center-text'}))[:18]:
        if count%2==0:
            match.append(i.text)
        else:
            rating.append(i.text)
        count+=1
    df=pd.DataFrame({'Team':team[:10],
                     'Match':match,
                     'Points':rating})
    df.to_csv('top_10_women_odi_teams.csv', index = False)
    print(df)

# Calling Function
Top_10_Women_ODI_team('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')

           Team Match Points
0     Australia    18  2,955
1       England    20  2,370
2  South Africa    24  2,828
3         India    23  2,535
4   New Zealand    21  1,947
5   West Indies    17  1,427
6      Pakistan    20  1,496
7    Bangladesh     5    306
8     Sri Lanka    11    519
9       Ireland     2     25

ii) Top 10 women’s ODI players along with the records of their team and rating.

In [10]:
# Function Definition
def Top_10_Women_ODI_player(url):
    r=requests.get(url)
    soup=BeautifulSoup(r.content,'html.parser')
    name=[]
    team=[]
    point=[]
    name.append(soup.find('div',attrs={"rankings-block__banner--name-large"}).text)
    for i in list(soup.find_all('td',attrs={'table-body__cell rankings-table__name name'}))[:9]:
        name.append(i.text.replace('\n',''))
    team.append(soup.find('div',attrs={"rankings-block__banner--nationality"}).text)
    for i in list(soup.find_all('td',attrs={'table-body__cell nationality-logo rankings-table__team'}))[:9]:
        team.append(i.text.replace('\n',''))
    point.append(soup.find('div',attrs={"rankings-block__banner--rating"}).text)
    for i in list(soup.find_all('td',attrs={'table-body__cell rating'}))[:9]:
        point.append(i.text)
    df=pd.DataFrame({'Name': name,
                     'Team':team,
                     'points':point})
    df.to_csv('top_10_women_odi_player.csv', index = False)
    print(df)

# Calling Function
Top_10_Women_ODI_player("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting")

                Name       Team points
0        Mithali Raj  \n\nIND\n    762
1        Lizelle Lee         SA    758
2       Alyssa Healy        AUS    756
3     Tammy Beaumont        ENG    754
4    Stafanie Taylor         WI    736
5        Meg Lanning        AUS    723
6  Amy Satterthwaite         NZ    715
7     Natalie Sciver        ENG    706
8    Smriti Mandhana        IND    701
9    Laura Wolvaardt         SA    683

iii) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [11]:
#Function Definition
def Top_10_Women_ODI_Allrounder(url):
    r=requests.get(url)
    soup=BeautifulSoup(r.content,'html.parser')
    name=[]
    team=[]
    point=[]
    name.append(soup.find('div',attrs={"rankings-block__banner--name-large"}).text)
    for i in list(soup.find_all('td',attrs={'table-body__cell rankings-table__name name'}))[:9]:
        name.append(i.text.replace('\n',''))
    team.append(soup.find('div',attrs={"rankings-block__banner--nationality"}).text)
    for i in list(soup.find_all('td',attrs={'table-body__cell nationality-logo rankings-table__team'}))[:9]:
        team.append(i.text.replace('\n',''))
    point.append(soup.find('div',attrs={"rankings-block__banner--rating"}).text)
    for i in list(soup.find_all('td',attrs={'table-body__cell rating'}))[:9]:
        point.append(i.text)
    df=pd.DataFrame({'Name': name,
                     'Team':team,
                     'points':point})
    df.to_csv('top_10_women_odi_allrounder.csv', index = False)
    print(df)

# Calling function
Top_10_Women_ODI_Allrounder("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder")

               Name      Team points
0    Marizanne Kapp  \n\nSA\n    418
1      Ellyse Perry       AUS    418
2   Stafanie Taylor        WI    394
3    Natalie Sciver       ENG    365
4     Deepti Sharma       IND    331
5     Jess Jonassen       AUS    307
6  Ashleigh Gardner       AUS    252
7  Dane van Niekerk        SA    243
8     Sophie Devine        NZ    242
9   Katherine Brunt       ENG    239

#### Q7. Write a python program to scrape details of all the mobile phones under Rs. 20,000 listed on Amazon.in. The scraped data should include Product Name, Price, Image URL and Average Rating.

In [12]:
# Function Definition
def amazon_mob(url):
    driver=webdriver.Chrome(r"C:\Users\HP\Desktop\Data Trained\Flip Robo\chromedriver.exe")
    start_page=0
    end_page=4
    urls = []
    name=[]
    price=[]
    image=[]
    rating=[]
    #loop to fetch urls of each mobile till page 5
    for page in range(start_page,end_page+1):
        driver.get(url)
        soup= BeautifulSoup(driver.page_source, 'html.parser')
        prod_urls = soup.find_all('a', attrs ={'class':'a-link-normal a-text-normal'})
        for prod in prod_urls:
            urls.append('https://www.amazon.in'+prod.get('href'))
    
    #loop to scrap required details from each mobile page
    for url in urls:
        driver.get(url)
        soup = BeautifulSoup(driver.page_source, 'html.parser')
        n = soup.find('h1',attrs={'id':'title'})
        if n is not None:
            name.append(n.find('span').text.replace('\n',''))
        else:
            name.append('-')
        rat = soup.find('div', attrs = {'id':'averageCustomerReviews'})
        if rat is not None:
            rating.append(rat.find('i').find('span').text)
        else:
            rating.append('-')
        p = soup.find('span', attrs = {'class':'a-size-medium a-color-price priceBlockDealPriceString'})
        if p is not None:
            price.append(p.text[2:])
        else:
            p = soup.find('div', attrs = {'id':'price'})
            if p is not None:
                price.append(p.find('span').text[2:])
            else:
                price.append('-')
        img = soup.find('div', attrs = {'class':'imgTagWrapper'})
        if img is not None:
            image.append(img.find('img').get('src'))
        else:
            image.append('-')
    mob_df = df=pd.DataFrame({'Name':name,
                              'Price':price,
                              'Rating':rating,
                              'Image_link':image})
    print(mob_df)
    mob_df.to_csv('Amazon Mobiles.csv', index = False)
    
    
# Calling Function
amazon_mob('https://www.amazon.in/s?k=mobile+phones+under+20000&rh=n%3A1389432031&dc&qid=1604132579&rnid=3576079031&ref=sr_nr_n_1')

                                                  Name      Price  \
0    Redmi 9A (Nature Green, 2GB RAM, 32GB Storage)...   8,499.00
1    Redmi 9 (Sky Blue, 4GB RAM, 64GB Storage) | 2....  10,999.00
2    Oppo A31 (Fantasy White, 6GB RAM, 128GB Storag...   2,490.00
3    Samsung Galaxy M11 (Black, 4GB RAM, 64GB Stora...  14,999.00
4    Redmi Note 9 (Pebble Grey, 4GB RAM 64GB Storag...  14,999.00
..                                                 ...        ...
120  Nokia 225 4G Dual SIM Feature Phone with Long ...   4,399.00
121                           Nokia 150 (2020) (Black)   2,799.00
122  Samsung Galaxy M11 (Violet, 4GB RAM, 64GB Stor...  14,999.00
123  Maplin Ismart I1 Reno (2 GB 16 GB) 5.0 inch To...   9,999.00
124  Redmi 9A (Sea Blue 2GB RAM 32GB Storage) | 2GH...   8,499.00

                 Rating                                         Image_link
0    4.2 out of 5 stars  https://images-na.ssl-images-amazon.com/images...
1    4.2 out of 5 stars  https://images-na.ssl-images-amazon.com/images...
2    4.2 out of 5 stars  https://images-na.ssl-images-amazon.com/images...
3    4.1 out of 5 stars  https://images-eu.ssl-images-amazon.com/images...
4    4.3 out of 5 stars  https://images-na.ssl-images-amazon.com/images...
..                  ...                                                ...
120  3.5 out of 5 stars  https://images-na.ssl-images-amazon.com/images...
121  3.9 out of 5 stars  https://images-na.ssl-images-amazon.com/images...
122  4.2 out of 5 stars  https://images-eu.ssl-images-amazon.com/images...
123  5.0 out of 5 stars  https://images-na.ssl-images-amazon.com/images...
124  4.2 out of 5 stars  https://images-na.ssl-images-amazon.com/images...

[125 rows x 4 columns]

#### Q8. Write a python program to extract information about the local weather from the National Weather Service website of USA, https://www.weather.gov/ for the city, San Francisco. You need to extract data about 7 day extended forecast display for the city. The data should include period, short description, temperature and description.

In [13]:
# Function Definition
def weather(url):
    r=requests.get(url)
    soup=BeautifulSoup(r.content,'html.parser')
    period=[]
    short_desc=[]
    temp=[]
    desc=[]
    for i in soup.find_all('p',attrs={'period-name'}):
        period.append(i.text)
    for i in soup.find_all('p',attrs={'short-desc'}):
        short_desc.append(i.text)
    for i in soup.find_all('p',attrs={'short-desc'}):
        if i.next_sibling is not None:
            temp.append(i.next_sibling.text)
        else:
            temp.append(' ')
    for i in soup.find_all('div',attrs={"col-sm-10 forecast-text"}):
        desc.append(i.text)
    df=pd.DataFrame({"period":period,
                     "short_description":short_desc,
                     "temperature":temp,
                     "description":desc[:9]})
    df.to_csv('Extended_forecast.csv')
    print(df)

# Calling Function
weather("https://forecast.weather.gov/MapClick.php?lat=37.777120000000025&lon=-122.41963999999996#.X6Pyxe3hWMo")

          period                         short_description  temperature  \
0          Today    Partly Sunnythen MostlySunny andBreezy  High: 71 °F
1        Tonight  Mostly Cloudyand Breezythen MostlyCloudy   Low: 57 °F
2       Thursday    Partly Sunnythen MostlySunny andBreezy  High: 70 °F
3  ThursdayNight  Partly Cloudyand Breezythen MostlyCloudy   Low: 56 °F
4         Friday          Mostly Sunnythen Sunnyand Breezy  High: 69 °F
5    FridayNight                             Mostly Cloudy   Low: 56 °F
6       Saturday                              Partly Sunny  High: 67 °F
7  SaturdayNight                             Mostly Cloudy   Low: 56 °F
8         Sunday                              Mostly Sunny  High: 68 °F

                                         description
0  Mostly sunny, with a high near 71. Breezy, wit...
1  Mostly cloudy, with a low around 57. Breezy, w...
2  Mostly cloudy, then gradually becoming sunny, ...
3  Partly cloudy, with a low around 56. Breezy, w...
4  Mostly sunny, with a high near 69. Breezy, wit...
5               Mostly cloudy, with a low around 56.
6                 Partly sunny, with a high near 67.
7               Mostly cloudy, with a low around 56.
8                 Mostly sunny, with a high near 68.

#### Q9. Write a python program to scrape ‘software developer’ job listings from ‘Monster.com’. It should include all the jobs listed for the next 5 pages.

In [15]:
# Function Definition
def soft_dev(url):
    driver=webdriver.Chrome(r"D:\DATA_SCIENCE\chromedriver.exe")
    driver.get(url)
    start_page=0
    end_page=4
    urls=[]
    job_names=[]
    company=[]
    location=[]
    experience=[]
    salary=[]
    for page in range(start_page,end_page+1):
        soup = BeautifulSoup(driver.page_source, 'html.parser')
        jobs=soup.find_all('div', attrs ={'class':'job-tittle'})
        for job in jobs:
            l=job.text.split('\n')
            job_names.append(l[0].split('  ')[0])
            company.append(l[0].split('  ')[1])
            location.append(l[1])
            experience.append(l[2])
            salary.append(l[3])
        try:
    
            nxt_button=driver.find_element_by_xpath("//button[@class='btn-next-prev btn-next']")
            if nxt_button.text=='Next':
                nxt_button.click()
                time.sleep(5)
        except NoSuchElementException:
            pass
            

    job_df=pd.DataFrame({'Job_Names':job_names,
                         'Company':company,
                         'location':location,
                         'Experience':experience,
                         'Salary':salary})
    job_df.to_csv('Software Developer_Monster', index = False)
    print(job_df)

# Calling Function
soft_dev("https://www.monsterindia.com/srp/results?query=software%20developer&searchId=1eef9a54-8213-4bcf-9ef7-8605ec8202c5")

                                            Job_Names  \
0        Data Science sponsored Tech Mahindra Limited
1                                  Software Developer
2                          Software Developer Trainee
3                           Software Developer - Java
4   Software Developer - Tech Mahindra Business Se...
5               EDCI - Engineering Software Developer
6                     SOFTWARE DEVELOPER JAVA /PYTHON
7   Consulting Firm hiring Experienced Semi-CA, CM...
8                     Python Developer Java Developer
9                    NEED Software Developer /DOT NET
10                                  ReactJS Developer
11  Core Java Developer for Software Company in Pu...
12                                  Dot Net Developer
13                           Web Application DESIGNER
14                                  ASP.NET Developer
15                               Salesforce Developer
16                                     Java Developer
17                           Java Developer Core Java
18                   React JS Developer @ Accion Labs
19  .NET Core Developer (microservices Exp for at ...
20                                   Senior Developer
21              Application Management Senior Analyst
22                               Sharepoint Developer
23  Urgent Requirement For Software Engineer in Ca...
24               Software Developer Software Engineer
25                                Datastage Developer
26  " ReactJS Developer "- Urgently required for A...
27                                         MERN STACK
28                          Java Full Stack Developer
29                                      Php developer
30  Software Developer,Required in CANADA & AUSTRALIA
31  React Native Developer All Levels (Sr.,Mid,Jr....
32  Sr. Software Engineer PHP Developer. Laravel, ...
33                               OBIEE/ODI Consultant
34                                  Hot Vacancies for
35                                 software developer
36                               Full Stack Developer
37                                 Software Developer
38                                Mainframe Developer
39                           Full Stack Web Developer

                                         Company  \
0
1             Prosares Solutions Private Limited
2                             software engineers
3                          Freelancer D. Aravind
4        Tech Mahindra Business Services Limited
5   Le Human Resources Solutions Private Limited
6                             S H Career Company
7
8                                Software Tester
9                             S H Career Company
10                                     Onpassive
11                          Namura Hr Consulting
12             Supernal Infotech Private Limited
13                       Easeprint Solutions.com
14                       Easeprint Solutions.com
15     IPS Vantage Tech Services Private Limited
16     IPS Vantage Tech Services Private Limited
17                       Tresbien Hr Consultancy
18             Accion Labs India Private Limited
19             Accion Labs India Private Limited
20      Teamroll Global Services Private Limited
21                      Ideslabs Private Limited
22            Xytiq Technologies Private Limited
23                    Cloud Visa Immigration LLP
24                                 Skill Ventory
25                  Itmc Systems Private Limited
26                           Free Lancer S Divya
27                     Change Leaders Consulting
28                 MNR Solutions Private Limited
29                     Company Name Confidential
30            Nobreza Consulting Private Limited
31     Techno Compass Consulting Private Limited
32     Elite Corporate Solutions Private Limited
33                  Itmc Systems Private Limited
34                             Dot net Developer
35   Orcapod Consulting Services Private Limited
36                     Xodus Consulting Services
37               Pleco Migration Private Limited
38                Bct Consulting Private Limited
39                          MABZONE IT SOLUTIONS

                                             location  \
0                                   Hyderabad / Se...
1                                              Mumbai
2                                              Mysore
3                                   Gurgaon / Guru...
4                                         Mumbai City
5                                             Chennai
6                                   Gurgaon / Guru...
7                                   Bengaluru / Ba...
8                                   Bengaluru / Ba...
9                                   Gurgaon / Guru...
10                                  Hyderabad / Se...
11                                               Pune
12                                  Bengaluru / Ba...
13                                          Faridabad
14                                          Faridabad
15                                               Pune
16                                               Pune
17                                  Bengaluru / Ba...
18                                  Bengaluru / Ba...
19                                             Mumbai
20                                  Bengaluru / Ba...
21                                  Bengaluru / Ba...
22                                  Bengaluru / Ba...
23                                  Australia, Canada
24                                               Pune
25                                  Hyderabad / Se...
26                                          Ahmedabad
27                                  Bengaluru / Ba...
28                                  Bengaluru / Ba...
29                                  Cochin / Kochi...
30                                  Australia, Canada
31                                    Chennai, Mumbai
32                                  Delhi, Gurgaon...
33                                             Remote
34                                  Hyderabad / Se...
35                                  Bengaluru / Ba...
36                                            Chennai
37                                  Canada, Hong Kong
38                                  Hyderabad / Se...
39                                             Mohali

                                    Experience  \
0                                 5-10 Years
1                                  1-5 Years
2                                  0-1 Years
3                                  4-8 Years
4                                  1-6 Years
5                                  3-5 Years
6                                  0-2 Years
7                                  1-5 Years
8                                    Fresher
9                                  0-2 Years
10                                 3-8 Years
11                                 2-4 Years
12                                 5-8 Years
13                                 1-2 Years
14                                 1-3 Years
15                                 5-8 Years
16                                4-10 Years
17                                 2-4 Years
18                                 4-8 Years
19                                 4-8 Years
20                                 5-9 Years
21                                5-11 Years
22                                 3-8 Years
23                                 4-9 Years
24                                 4-8 Years
25                                8-10 Years
26                                2-12 Years
27                                3-10 Years
28                                 4-8 Years
29                                 3-8 Years
30                                 3-8 Years
31                                 2-7 Years
32                                 3-6 Years
33                                 5-8 Years
34                                7-15 Years
35                                 4-5 Years
36                                 4-7 Years
37                                 2-7 Years
38                                5-10 Years
39                                 3-5 Years

                                               Salary
0                                       Not Specified
1                                       Not Specified
2                                   1,50,000-4,00,...
3                                   12,00,000-18,0...
4                                   0-20,000 INR P...
5                                       Not Specified
6                                   4,90,000-10,10...
7                                       Not Specified
8                                   3,20,000-4,50,...
9                                   4,80,000-8,60,...
10                                      Not Specified
11                                  6,00,000-9,00,...
12                                  10,00,000-18,0...
13                                  2,00,000-3,00,...
14                                  2,00,000-5,00,...
15                                      Not Specified
16                                  10,000-14,50,0...
17                                  5,00,000-6,50,...
18                                      Not Specified
19                                      Not Specified
20                                  4,00,000-15,00...
21                                      Not Specified
22                                      Not Specified
23                                  40,50,000-60,0...
24                                  9,00,000-16,00...
25                                      Not Specified
26                                      Not Specified
27                                      Not Specified
28                                  4,00,000-16,00...
29                                      Not Specified
30                                  40,00,000-55,0...
31                                      Not Specified
32                                  6,00,000-9,00,...
33                                  6,00,000-9,00,...
34                                      Not Specified
35                                      Not Specified
36                                      Not Specified
37                                  25,00,000-45,0...
38                                      Not Specified
39                                  3,00,000-6,00,...

#### Q10. Write a python program to scrape ‘data scientist’ job listings for location ‘New Delhi’ from ‘Monster.com’. It should include all the jobs listed for the next 5 pages.

In [16]:
# Function Definition
def data_sci(url):
    driver=webdriver.Chrome(r"C:\Users\HP\Desktop\Data Trained\Flip Robo\chromedriver.exe")
    driver.get(url)
    start_page=0
    end_page=4
    urls=[]
    job_names=[]
    company=[]
    location=[]
    experience=[]
    salary=[]
    for page in range(start_page,end_page+1):
        soup = BeautifulSoup(driver.page_source, 'html.parser')
        jobs=soup.find_all('div', attrs ={'class':'job-tittle'})
        for job in jobs:
            l=job.text.split('\n')
            job_names.append(l[0].split('  ')[0])
            company.append(l[0].split('  ')[1])
            location.append(l[1])
            experience.append(l[2])
            salary.append(l[3])
    
        nxt_button=driver.find_element_by_xpath("//button[@class='btn-next-prev btn-next']")
        if nxt_button.text=='Next':
            nxt_button.click()
            time.sleep(5)

    job_df=pd.DataFrame({'Job_Names':job_names,
                         'Company':company,
                         'location':location,
                         'Experience':experience,
                         'Salary':salary})
    job_df.to_csv('Data Scientist_ND_Monster', index = False)
    print(job_df)

# Calling Function
data_sci("https://www.monsterindia.com/srp/results?query=Data%20Scientist&locations=Delhi&searchId=ebc9a3bb-97c5-4647-8eac-ad5d9d92d3fc")

                                            Job_Names  \
0   Data Entry Job l Work From Home l Freelancers ...
1                           Data Entry Work From Home
2   Work From Home, Data Entry Jobs, Part Time Job...
3   Online Data Entry, Work From Home Jobs, Part T...
4   Online Data Entry Jobs, Work From Home, Data E...
5   Work From Home Jobs, Data Entry, Part Time Job...
6   Typing Jobs, Online Data Entry Jobs, Work From...
7   Online Data Entry Jobs, Work From Home, Part T...
8   Data Entry Jobs, Part Time Jobs, Home Based, W...
9   Online Data Entry Jobs, Work From Home, Part T...
10               Computer Operator & Office Assistant
11               Computer operator Data Entry Backend
12                                         Data Entry
13               Marketing Executive (based in India)
14  HIRING FOR RESEARCH ANALYST ROLE_SALARY UPTO 5...
15  Visa Documentation Executive Required In Netaj...
16                                              Audit
17   Oracle Cloud HCM Functional Consultant - Core HR
18                                         Accountant
19                                  SAP SD Consultant
20                               Sales Representative
21                           EDQ Technical Specialist
22                                      Store Manager
23                            Head Finance & Accounts
24      Cyber Security Sales Manager - Cymune (Locuz)
25                                        MEP Manager
26     Sr . Manager ( Performance & Growth marketing)
27                                Civil Site Engineer
28                        Senior Engineer- Electrical
29                                  Senior HR Manager
30             sal.30k ctc/us voice travel/incentives
31                                    Civil engineers
32      Fresher jobs for Customer care CCE Telecaller
33  work from home Fresh Graduate Front Office Exe...
34                            Opening For TEAM LEADER
35                  Visa specialist- Delhi 9717299688
36                               Full Stack Developer
37               Channel Sales Manager/ Sales Manager
38  Admin Manager (Office Administration) - Delhi ...
39  PART TIME , . , . ,UNDERGRADUATE , work from h...
40                                     Civil Engineer
41                                      Site Engineer
42                                       Receptionist
43                              Data Entry Supervisor
44                         Mechanical Design Engineer
45                  RA-CSR-Cyber-DP-Cons-Data Privacy
46                                  Account Executive
47  HIRING FOR FOOD QUALITY ASSURANCE MANAGER (DELHI)
48                                 Office Coordinator
49              PMO (Financial Management) - AM - GGN

                                              Company  \
0   Seema Gupta (Proprietor of Seema & Tarun Recru...
1                                       Global Linker
2                           Company Name Confidential
3                           Company Name Confidential
4                           Company Name Confidential
5                           Company Name Confidential
6                           Company Name Confidential
7                           Company Name Confidential
8                           Company Name Confidential
9                           Company Name Confidential
10                                      Global Linker
11                                        Back Office
12                                  Computer Operator
13                            CiB Net Station Sdn Bhd
14                                    Future Plannerz
15              Proximity Immigration Private Limited
16                                          Executive
17                    Ral Infosystems Private Limited
18                   Rudraksha Fire Security Services
19                           Ideslabs Private Limited
20                          Company Name Confidential
21                      Gvms Infotech Private Limited
22                             Metro Jobs Consultants
23                             Metro Jobs Consultants
24                 Locuz Enterprise Solutions Limited
25                             Metro Jobs Consultants
26                          Company Name Confidential
27                             Metro Jobs Consultants
28                             Metro Jobs Consultants
29                             Metro Jobs Consultants
30                                Xistence Consultant
31        Freelancer - Purushottam Munjajirao Dhutraj
32                                          Telesales
33                          Company Name Confidential
34               Silaris Informations Private Limited
35          Flight To Sucess Immigration Services Llp
36            Sourcebase Technologies Private Limited
37             Halwasiya Developments Private Limited
38             Halwasiya Developments Private Limited
39                Freelancer Harish Kumar Ksheersagar
40                             Metro Jobs Consultants
41                             Metro Jobs Consultants
42                             Metro Jobs Consultants
43                 Freelancer Donal RichyOlala Onkoro
44        Freelancer - Purushottam Munjajirao Dhutraj
45                                           Deloitte
46                             Metro Jobs Consultants
47                             Shreyas Group Services
48                                          HR Factor
49              Sampoorna Consultants Private Limited

                                             location  \
0                                   Delhi, Hyderab...
1                                        Delhi, Noida
2                                   Delhi, Mumbai,...
3                                      Chennai, Delhi
4                                   Bengaluru / Ba...
5                                   Delhi, Mumbai,...
6                                      Chennai, Delhi
7                                   Bengaluru / Ba...
8                                   Delhi, Hyderab...
9                                   Delhi, Hyderab...
10                                              Delhi
11                                       Delhi, Noida
12                                       Delhi, Noida
13                                              Delhi
14                                  Delhi, Gurgaon...
15                                              Delhi
16                                  Bengaluru / Ba...
17                                       Delhi, Noida
18                                       Delhi, Noida
19                                  Bengaluru / Ba...
20                                              Delhi
21                                  Delhi, Gurgaon...
22                                  Delhi, Gurgaon...
23                                  Delhi, Gurgaon...
24                                      Delhi, Mumbai
25                                              Delhi
26                                              Delhi
27                                              Delhi
28                                              Delhi
29                                              Delhi
30                                  Delhi, Gurgaon...
31                                      Delhi, Mumbai
32                                       Delhi, Noida
33                                  Delhi, Gurgaon...
34                                              Delhi
35                                              Delhi
36                                  Delhi, Gurgaon...
37                                              Delhi
38                                              Delhi
39                                  Delhi, Gurgaon...
40                                              Delhi
41                                              Delhi
42                                              Delhi
43                                      Delhi, Mumbai
44                                      Delhi, Mumbai
45                                       Delhi, India
46                                              Delhi
47                                              Delhi
48                                              Delhi
49                                  Delhi, Gurgaon...

                                      Experience  \
0                                    0-5 Years
1                                    0-5 Years
2                                    0-5 Years
3                                    0-5 Years
4                                    0-5 Years
5                                    0-5 Years
6                                    0-5 Years
7                                    0-5 Years
8                                    0-5 Years
9                                    0-5 Years
10                                   0-1 Years
11                                   0-5 Years
12                                   0-4 Years
13                                   1-5 Years
14                                   1-6 Years
15                                   1-6 Years
16                                   2-4 Years
17                                  3-12 Years
18                                  1-11 Years
19                                  4-14 Years
20                                  3-10 Years
21                                   3-8 Years
22                                  5-15 Years
23                                 15-25 Years
24                                   3-8 Years
25                                 10-15 Years
26                                  6-10 Years
27                                  5-10 Years
28                                  5-15 Years
29                                 10-20 Years
30                                   0-5 Years
31                                   2-7 Years
32                                   0-3 Years
33                                   0-5 Years
34                                  3-10 Years
35                                  1-10 Years
36                                  5-10 Years
37                                   5-7 Years
38                                   3-4 Years
39                                   0-5 Years
40                                   0-5 Years
41                                   0-5 Years
42                                   1-5 Years
43                                  1-11 Years
44                                   2-7 Years
45                               Not Specified
46                                   1-2 Years
47                                  3-13 Years
48                                   2-4 Years
49                                  5-10 Years

                                               Salary
0                                   1,20,000-3,60,...
1                                   2,20,000-4,40,...
2                                       Not Specified
3                                       Not Specified
4                                       Not Specified
5                                       Not Specified
6                                       Not Specified
7                                       Not Specified
8                                       Not Specified
9                                       Not Specified
10                                  1,00,000-2,00,...
11                                  80,000-2,50,00...
12                                  80,000-2,50,00...
13                                      Not Specified
14                                      Not Specified
15                                  2,00,000-3,50,...
16                                      Not Specified
17                                      Not Specified
18                                  2,50,000-6,50,...
19                                      Not Specified
20                                  3,00,000-5,00,...
21                                      Not Specified
22                                      Not Specified
23                                      Not Specified
24                                      Not Specified
25                                      Not Specified
26                                  10,80,000-20,8...
27                                      Not Specified
28                                      Not Specified
29                                      Not Specified
30                                      Not Specified
31                                  3,50,000-7,80,...
32                                  80,000-3,00,00...
33                                  80,000-2,80,00...
34                                      Not Specified
35                                  1,20,000-1,80,...
36                                      Not Specified
37                                      Not Specified
38                                  3,00,000-3,60,...
39                                      Not Specified
40                                      Not Specified
41                                      Not Specified
42                                      Not Specified
43                                  4,50,000-21,80...
44                                  2,29,999-10,80...
45                                      Not Specified
46                                      Not Specified
47                                      Not Specified
48                                      Not Specified
49                                      Not Specified

# End of Document